body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(245, 245, 245, 1);
}

p {
	font-family: 'Pavanam', sans-serif;
}	

a {
	text-decoration: none;
	color: black;
}

#website-content {
	top: 130px;
	position: absolute;
	width: 90%;
	left: 5%;
	padding: 30px 0;
}

#header {
	position: absolute;
	width: 100%;
	height: 130px;
	background-color: rgba(245, 245, 245, 0.9);
	z-index: 900;
}

/********* Main navigation bar *********/

#main-navbar {
	position: absolute;
	right: 50px;
	bottom: 0;
}
#main-navbar a {
	display: inline-block;
	width: 110px;
	text-align: center;
	text-decoration: none;
	color: #383D3B;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	padding-top: 5px;
	margin-left: 5px;
	border-radius: 5px;
}
.fix-to-top {
    position: fixed !important;
    top: -90px !important;
}

#home, #browse, #about {
	border-color: #383D3B;
}
#home:hover, #browse:hover, #about:hover, #home.active, #browse.active, #about.active {
	background-color: #383D3B;
	color: white;
}

/********* Content boxes *********/
#box-wrapper {
	width: calc(100% - 200px);
	display: inline-block;
	float: right;
}

.content-box {
	position: relative;
	display: block;
	width: 280px;
	height: 180px;
	padding: 10px;
	background-color: #f5f5f5;
	margin: 10px;
	border-style: solid;
	border-width: 5px;
	border-radius: 5px;
	text-align: left;
}
.box-title {
	display: block;
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	margin: 0;
	text-decoration: underline;
}
.box-author {
	display: block;
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	margin: 0;
	font-style: italic;
}
.box-description {
	padding-top: 10px;
	display: block;
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
}

/********* Browse navigation bar *********/

#browse-navbar {
	float: left;
	position: absolute;
	/*left: 40px;*/
	margin: 10px;
}

#browse-navbar a {
	display: block;
	width: 120px;
	text-align: center;
	text-decoration: none;
	color: #383D3B;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-radius: 5px;
	margin: 5px;
	padding-top: 5px;
}

.fix-to-top-browse {
    position: fixed !important;
    top: 40px !important;
}

#strategy {
	border-color: #558B6E;
}
#strategy:hover, #strategy.active {
	background-color: #558B6E;
	color: white;
}

#content {
	border-color: #648EAA;
}
#content:hover, #content.active {
	background-color: #648EAA;
	color: white;
}

#misc {
	border-color: #A86464;
}
#misc:hover, #misc.active {
	background-color: #A86464;
	color: white;
}

#all {
	border-color: #383D3B;
}
#all:hover, #all.active {
	background-color: #383D3B;
	color: white;
}

/********* Article View *********/

.article-sidebar {
	padding: 5px;
	width: 200px;
	display: inline-block;
	float: left;
	text-align: center;
}
.article-sidebar h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 26px;
	margin: 0;
}

.related {
	list-style: none;
	padding: 0;
}
.related h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	margin: 0;
}
.related .subtitle {
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: italic;
	font-size: 16px;
}
.related li {
	border-bottom-style: solid;
	border-bottom-width: 5px !important;
	margin: 10px 0px;
	padding: 10px 5px 5px 5px;
	border-radius: 5px;
}

.article-content {
	font-family: 'Pavanam', sans-serif;
	font-size: 17px;
	line-height: 24px;
	display: inline-block;
	width: calc(100% - 400px);
	float: right;
	padding: 0px 90px;
}

.article-content h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	margin-top: 0;
}
.article-content h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 26px;
	margin-top: 0;
}
.article-content h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	margin-top: 0;
}
.article-content h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	margin-top: 0;
}